body{
    background-color: aqua;
}
.button{
    inline-size: 32px;
    block-size: 32px;
    background-color: transparent;
    border: transparent;
    background-position: center;
}

.button:hover{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}


#Play{
    background-image: url(./images/play.svg);
}

#Pause{
    background-image: url(./images/pause.svg);
}

#Avanzar{
    background-image: url(./images/+10.svg);
}

#Retrasar{
    background-image: url(./images/-10.svg);
}

.wrapper{
    max-inline-size: 700px;
    margin: auto;
}

.Player{
    margin-block-start: 100px;
    position: relative;
}

.Player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input{
    flex: 1;
}

.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.Player:hover .player-overlay{
    opacity: 1;
    cursor: pointer;
}
